## PractiseFile 1
# python basics

In [ ]:
print("Areeba Khalid")
print("I learn AI")

Areeba Khalid
I learn AI

**Python Comments**

**Creating a Comment**
Comments starts with a #, and Python will ignore them:

In [ ]:
#######  COMMENT FOR AI
print ("This is a comment of AI")

This is a comment of AI

**Variables**
Variables are containers for storing data values.

**Creating Variables**

1.   Python has no command for declaring a variable.

2.   A variable is created the moment you first assign a value to it.

In [ ]:
x = "Asfa"
y = " I am bestie of Areeba"
z= x+y;
print(x)
print(y)
print(x+y)

Asfa
 I am bestie of Areeba
Asfa I am bestie of Areeba

# **Casting**
If you want to specify the data type of a variable, this can be done with casting.

In [ ]:
x = str("Amna")    # x will be '4'
y = int(4)    # y will be 4
z = float(4)  # z will be 4.0
print(x)
print(y)
print(z)

Amna
4
4.0

# **Get the Type**

You can get the data type of a variable with the **type()** function.

In [ ]:
x = 7
y = "Hammda"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

# **Case-Sensitive**
Variable names are case-sensitive.

In [ ]:
a = 4
A = "Park"
print(4)
print('park')

4
park

In [ ]:
a,b,c,d = "red", "pink", "blue","yellow"
print(a)
print(b)
print(c)
print(d)

red
pink
blue
yellow

In [ ]:
x = y = z = "Mangooo"
print(x)
print(y)
print(z)

Mangooo
Mangooo
Mangooo

In [ ]:
x = "CR"
print(x)

CR

In [ ]:
#Example 1
#Create a variable outside of a function, and use it inside the function
x = "programming"

def myfunc():
  print("i like  " + x)

myfunc()

i like  programming

pakistan

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [ ]:
dict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(len(dict))

person = {
  "name": "Ali",
  "age": 25,
  "city": "New York",
  "age": 30  # This will overwrite the previous "age" key
}

print(len(person))

3

In [ ]:
dict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
dict["year"] = 2018  #Change the "year" to 2018:
print(dict)

person = {
  "name": "Ali",
  "age": 25,
  "city": "New York"
}
person["age"]=30  #Change the "age" to 30:
print(person)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}
{'name': 'Alice', 'age': 30, 'city': 'New York'}

In [ ]:
#Update the "year" of the car by using the update() method:
dict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
dict.update({"year": 2020})
print(dict)

person = {
  "name": "Ali",
  "age": 25,
  "city": "New York"
}
person.update({"age": 28})
print(person)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [ ]:
#If statement:
a = 289
b = 123
if a > b:
  print("a is greater than b")

a is greater than b

In [ ]:
#Elif
#The elif keyword is Python's way of saying "if the previous conditions were not true, then try this condition"
#In this example a is greater than b, so the first condition is not true, also the elif condition is not true, so we go to the else condition and print to screen that "a is greater than b".
a = 2090
b = 330
if a> b:
  print("a is greater than b")
elif a == b:
  print("a and b are equal")
else:
  print("b is greater than a")

a is greater than b

You can also have an else without the elif:

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

# **The while Loop**
With the while loop we can execute a set of statements as long as a condition is true.

In [ ]:
j = 1
while j < 10:
  print(j)
  j += 1

1
2
3
4
5
6
7
8
9

# **For Loops**
A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

In [ ]:
colors = ["purple", "orange", "green"]
for x in colors:
  print(x)

purple
orange
green

# **Creating a Function**
In Python a function is defined using the def keyword:

In [ ]:
def my_function():
  print("Hello!!! i learn AI")

my_function()  #To call a function, use the function name followed by parenthesis:

Hello!!! i learn AI

# **Arguments**
Information can be passed into functions as arguments.

In [ ]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

# **Default Parameter Value**
If we call the function without argument, it uses the default value:

In [ ]:
def my_function(city = "lahore"):
  print("I am from " + city)

my_function("Abbottabad")
my_function("Haripur")
my_function()
my_function("Manshera")

I am from Abbottabad
I am from Haripur
I am from lahore
I am from Manshera

# **Return Values**
To let a function return a value, use the return statement:

In [ ]:
def my_function(z):
  return 9 * z

print(my_function(8))
print(my_function(4))
print(my_function(2))

72
36
18